*{
    box-sizing: border-box;
}
body {
    background-color: blanchedalmond;
}
nav{
    background-color: purple;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
nav .container {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blanchedalmond;
}
nav .icons{
    font-size: 1.5rem;
}
main form{
    background-color: purple;
}




/* button */
.btn-blanchedalmond{
    background-color: blanchedalmond;
    transition-duration: 0.4s;
}
.btn-blanchedalmond:hover{
    background-color: rgb(237, 201, 147);
}